boto3==1.9.138
botocore==1.12.138
Django==2.2
django-s3-storage==0.12.4
docutils==0.14
jmespath==0.9.4
Pillow==6.0.0
psycopg2==2.8.2
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2
whitenoise==4.1.2
