{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/style.css" %}">

<nav class="navbar fixed-top navbar-expand-lg" id="nav-menu">
    <a class="navbar-brand" href="{% url 'index' %}">Galley</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <div class="col-md-6 offset-md-6" id="container-nav">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'add_photo' %}">ADD PHOTO</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'list_photos' %}">REVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'logout' %}">SAIR</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
{% endblock %}